/*-- scss:defaults --*/

// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Vidaloka
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');

$font-family-sans-serif: "Lato", sans-serif;
$font-family-monospace: "JetBrains Mono";

$c1: #8E063B;

/*-- scss:rules --*/

.header-section-number {
  color: $c1;
}

h1.title, .title.h1 {
  color: $c1;
  font-size: 5em;
  font-family: Vidaloka;
}

h1, h2, h3 {
  font-family: Vidaloka;
}

a {
  color: lighten($c1, 25);
  &:hover {
    color: darken($c1, 25);
  }
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    font-weight: 800;
}

.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid $c1;
    color: $c1 !important;
}
